.count-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.btn {
  border: none;
  padding: 0.7rem 1rem;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
}

.primary {
  background-color: #ff7b00;
  color: white;
}

.primary:hover {
  opacity: 0.9;
}

.primary:disabled {
  background-color: gray;
  cursor: not-allowed;
}